<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>info: {{info|json}}, state: {{state |json}}, url: {{url|json}}, isActive: {{isActive}}, URL: {{url | json}}, restore: {{restoredEvent | json}}</h1>
  </div>
</ion-content>
